html,body,div,canvas { 
	margin: 0; 
	padding: 0; 
	width: 100%; 
	height: 100%;
}

::-moz-selection { 
	color: #333; 
	text-shadow: none;
}

::selection {
	color: #333; 
	text-shadow: none;
}

.clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clear {
	display: inline-table;
	clear: both;
}
 /* Hides from IE-mac \*/ 
 * html .clear {
 	height: 1%;
 }

 .clear {
 	display: block;
 } 
 /* End hide from IE-mac */
 
 html, body {
 	width: 100%;
 	height: 100%;
 	font-family: Helvetica, Verdana, Arial, sans-serif;
 }

 body {}

 canvas { margin: 0 0 0 0;
 	position: absolute;
 	z-index: 9;
 	width: 100%;
 	height: 100%
 }